<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NFCReaderUsageDescription</key>
	<string>CERBERE utilise le NFC pour ouvrir la porte en approchant votre iPhone du lecteur.</string>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>D276000085010100</string>
	</array>
	<key>com.apple.developer.nfc.readersession.felica.systemcodes</key>
	<array/>
</dict>
</plist>
